.formulario{
    width: 100%;
}

.campo{
    display: flex;
    margin-bottom: 2rem ;
    align-items: center;

    label{
        flex: 0 0 10rem;
        color: $blanco;
    }

    input{
        flex:1;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: none;
    }
}

.alerta{
    padding: 2rem ;
    color: $blanco;
    text-align: center;
    text-transform: uppercase;
    display: block;
    &.error{
        background-color: rgb(194, 0, 0);
    }
}